<h1><%= @quest.name %></h1>
<h2>Story</h2>
<p><%= @quest.story %></p>
<h2>Task</h2>
<p><%= @quest.task %></p>

<h3><%= "#{@student.name}'s assignment" %></h3>

<h5><%= "Submitted at: #{@assignment&.submitted_at.to_s(:short)}" %></h5>

<hr>

<%= form_with(model: @assignment, local: true, type: :model, html: {class: "form-class", style: "min-width: 800px;"}) do |f| %>
  <%= f.label :submission, 'Submission', class: "form-label" %>
  <%= f.rich_text_area :submission, class: "form-input" %>
  <%= f.hidden_field :quest_id, value: @quest.id %>
  <%= f.hidden_field :student_id, value: @student.id %>
  <%= f.submit 'Submit', class: "form-button" %>
<% end %>
